/*Main top container*/
.main-container {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  height: 40%;
  padding: 3% 0;
  width: 100%;
}

.logo-name {
  color: #045E55;
  font: 700 40px 'Roboto Slab', serif;
  margin-bottom: 2%;
}

span {
  color: #6D6E71;
}

input {
  border: 2px solid #D1D3D4;
  color: #6D6E71;
  font-size: 17px;
  margin: 7px 0;
  padding: 5px;
  height: 25px;
  width: 50%;
}

.task-input{
  margin-bottom: 2px;
}

.character-count {
  color:#4E4E51;
  font: 400 15px 'Open Sans', sans-serif;
  margin-bottom: 20px;
  margin-top: 2px;
  padding: 0;
}

.save-button {
  background-color: #045E55;
  border: none;
  color: #fff;
  font-size: 17px;
  height: 37px;
  margin-top: 0;
  width: 51%;
}

.save-button:hover {
  background-color: #00A79D;
}

.show-complete {
  background-color: #045E55;
  border: none;
  color: #FFF;
  font: 400 12px 'Open Sans', sans-serif;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.show-complete:hover {
  background-color: #00A79D;

}

.show-more {
  background-color: #045E55;
  border: none;
  color: #FFF;
  font: 400 12px 'Open Sans', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px 10px;
}

.show-more:hover{
  background-color: #00A79D;
}

/*Bottom Container*/
.bottom-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  width: 50%;
}

.filter-todos {
  color: #6D6E71;
  font: 400 20px 'Open Sans', sans-serif;
  margin: 15px 15px;
}

.quality-button{
  background-color: #045E55;
  border: none;
  color: #FFF;
  font: 400 12px 'Open Sans', sans-serif;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 85px;
}

.quality-button:hover {
  background-color: #00A79D;
}


.all-quality-buttons{
  display: inherit;
  margin-bottom: 20px;
}

.todo-section {
  border-bottom: 2px solid #D1D3D4;
  padding: 10px;
}

.todo-title {
  color: #6D6E71;
  font: 700 25px 'Roboto Slab', serif;
}

.todo-task {
  color: #6D6E71;
  font: 400 20px 'Open Sans', sans-serif;
}

li {
  margin-top: 20px;
}

p {
  display: inline-block;
  margin: 8px;
  color: #6D6E71;
  font: 700 15px 'Roboto Slab', serif;
  padding: 10px 0;
}

.importance {
  font: 400 15px 'Open Sans', sans-serif;
}


/**Buttons in appended container*/
.buttons {
  display: inline-flex;
  background-color: transparent;
  border: none;
  color: transparent;
  height: 30px;
  width: 30px;
}

.delete-button {
  background: url(../images/delete.svg) no-repeat;
  margin-top: 15px;
  margin-left: 15px;
}

.delete-button:hover {
  background: url(../images/delete-hover.svg) no-repeat;
}

.up-vote {
  background: url(../images/upvote.svg) no-repeat;
}

.up-vote:hover {
  background: url(../images/upvote-hover.svg) no-repeat;
}

.down-vote {
  background: url(../images/downvote.svg) no-repeat;
  margin: 0px 10px;
}

.down-vote:hover {
  background: url(../images/downvote-hover.svg) no-repeat;
}

.completed-task {
  background-color: #045E55;
  border: none;
  color: #FFF;
  font: 400 12px 'Open Sans', sans-serif;
  padding: 5px 10px;
  margin-left: 10px;
}

.completed-task:hover {
  background-color: #00A79D;
}

.completed {
  background-color: #e3e4e5;
}


/*Media Queries*/
@media screen and (max-width: 700px) {

  input, textarea {
    width: 80%;
  }

  div {
    width: 80%;
  }

  .task-input {
    height: 70px;
  }

  .save-button {
    width: 83%;
  }

}
